@import "tailwindcss";

:root {
  --peach: #E0B093;
  --cream: #EDD4BE;
  --warm-gray: #796D66;
  --dark-brown: #29191A;
  --background: #EDD4BE;
  --foreground: #29191A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-peach: #E0B093;
  --color-cream: #EDD4BE;
  --color-warm-gray: #796D66;
  --color-dark-brown: #29191A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh;
}
